{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{ name }}!
</h1>
<br/>
<div>
  Available Flights
</div>
<div class="content">
  {% for flight in flights %}
      <a href="{{ url_for('main.dashboard', name=name, flight=flight.flightCode) }}" class="flight">
          <p><b>#{{ flight.flightCode }}</b></p>
          <b>
              <p class="name">From {{ flight.departure }} To {{ flight.arrival }}</p>
          </b>
          <p>US$ {{ flight.ticketPrice }}</p>
          <p>Departs: {{ flight.date }}</p>
          <div class="bio">
              <h4>Status</h4>
              <p>Seats available {{ flight.bio }}</p>
          </div>
      </a>
  {% endfor %}
</div>
<br />
<div>
  {% for trip in trips %}
    <b>
      <p class="name">From {{ trip.departure }} To {{ trip.arrival }}</p>
    </b>
  {% endfor %}
</div>
<br />
<div>
  {% for airport in airports %}
    <b>
      <p class="name">{{ airport }}</p>
    </b>
  {% endfor %}
</div>
<br />
<div>
  {% for flight in flightsTime %}
    <b>
      <p class="name">Flight {{ flight[0] }} departs {{ flight[1] }}</p>
    </b>
  {% endfor %}
</div>
{% endblock %}
